<template>
  <header>
    <div class="container header-content">
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
    </div>
  </header>
</template>

<script>
export default {
  name: "AppHeader",
  // Define 2 properties, both required.
  props: {
    title: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
  },
};
</script>

<style scoped>
header {
  background: gold;
  padding: 3em;
  margin-bottom: 1em;
}
</style>

