<template>
  <div>
    <div v-if="movie !== null">
      <img :src="movie.cover" :alt="movie.title" width="200"/>
      <h4>{{ movie.title }}</h4>
      <p>{{ movie.description }}</p>
      <span>{{ movie.rating }}</span>
    </div>
  </div>
</template>

<script>
import { getMovieById } from "../api/movies";

export default {
  name: "MovieDetail",
  async created() {
    const { movieId } = this.$route.params;
    try {
      this.movie = await getMovieById(movieId);
    } catch (error) {
      console.error(error);
    } finally {
      this.loading = false;
    }
  },
  data() {
    return {
      loading: true,
      movie: null,
    };
  },
};
</script>

<style>
</style>