<template>
  <div id="movie-list">
    <h4 class="title">Movies</h4>
    <p v-if="loading">Loading movies...</p>
    <!-- Render multiple MovieItemComponents -->
    <MovieListItem v-for="movie of movies" 
                   @movie-clicked="handleMovieClicked"
                  :key="movie.id" 
                  :movie="movie"></MovieListItem>
  </div>
</template>

<script>
import MovieListItem from './MovieListItem';
import { getAllMovies } from '../api/movies';

export default {
  name: "MovieList",
  components: {
      MovieListItem
  },
  async created() {
    
    try {
      this.movies = await getAllMovies();
    } catch(e) {
      console.error(e);
    } finally {
      this.loading = false;
    }
    
  },
  methods: {
    handleMovieClicked(movieId) {
      console.log( movieId );
      this.$router.push( `/${movieId}` );
    }
  },
  data() {
    return {
      loading: true,
      movies: [],
    };
  },
};
</script>

<style scoped>
.title {
  margin-bottom: 1em;
}
</style>
