<template>
  <div id="movie-list-item" class="movie-list-item" @click="onMovieClicked">
    <div class="movie">
      <div>
        <img class="movie-cover" :src="movie.cover" :alt="movie.title" />
      </div>

      <div class="movie-detail">
        <h4 class="movie-title">{{ movie.title }}</h4>
        <p>{{ movie.description }}</p>
        <p class="movie-rating">Rating: {{ movie.rating }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "MovieListItem",
  props: {
    movie: {
      type: Object,
      required: true,
    },
  },
  methods: {
    onMovieClicked() {
      // Send a custom event to the parent.
      this.$emit( 'movie-clicked', this.movie.id );
    }
  }
};
</script>

<style scoped>

.movie-list-item {
  display: block;
  border: 1px solid #efefef;
  padding: 1em;
  margin-bottom: 1em;
  cursor: pointer;
}
.movie-title {
  margin: 0;
  font-size: 1.5em;
}
.movie {
  display: flex;
}
.movie-cover {
  display: block;
  margin-right: 1em;
}

.movie-detail {
  display: flex;
  flex-direction: column;
}
.movie-rating {
  margin-top: auto;
}

@media screen and (max-width: 40em) {
  .movie-cover {
    max-width: 100px;
  }
}
</style>