<template>
  <div id="app">
    <!-- Step 3 - Use Components -->
    <AppHeader :title="title" :description="description" />
    <main class="container">
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
// Step 1 - Imports
import AppHeader from './components/AppHeader';

export default {
  name: "App",
  // Step 2 - "Register"
  components: {
    AppHeader
  },
  data() {
    return {
      title: "Movie Catalogue",
      description: "This is a movie catalogue.",
    };
  },
};
</script>

<style>
#app {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
</style>
